@font-face {
  font-family: 'myFont';
  src: url('fonts/Norse-Bold.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

body{
    font-family: 'myFont', sans-serif;
    display: flex;
    margin: 0;
}

.sidebar{
    background-image: url(images/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover; /* or contain, or specific dimensions */
    background-position: center; /* positions the image */
    background-repeat: no-repeat; /* prevents tiling */
    width: 70vw;
    height: 100vh;
    
}

.logo{
    height: 130px;
    width: 100px;
}

.sidebar-logo{
    background-color: rgba(0, 0, 0, 0.388);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 10rem;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-text {
    font-size: 11px;
    background-color: #eee;
    padding: 100px 30px;
    padding-top: 150px;
}